<section class="slider section-slider overlay">
  <ul class="slides ">
    <li class="">
      <img src="../../../assets/images/ahmed.jpg" class="responsive-img" >
      <div class="caption left-align black-text">
        <h2>Its just not what we do</h2>
        <h5 class="hide-on-small-only">
          Its how we do it that makes you satisfied
        </h5>
        <a href="#contactus" class="btn btn-large blue-grey">Contact Us now!</a>
      </div>
    </li>
    <li>
      <img src="../../../assets/images/uchehouse.jpeg" alt="" class=" responsive-img">
      <div class="caption right-align black-text">
        <h2>Just Relax and watch</h2>
        <h5 class="hide-on-small-only">
           our experienced workers do all the packing.
        </h5>
        <a href="#contactus" class="btn btn-large blue-grey">Work with us...</a>
      </div>
    </li>
    <li>
      <img src="../../../assets/images/slide two.jpg" class="responsive-img" alt="">
      <div class="caption right-align white-text">
        <h2>Fast and Secure</h2>
        <h5 class="hide-on-small-only">
          We are reliable and trusted by previous clients
        </h5>
        <a href="#contactus" class="btn btn-large blue-grey">Learn More...</a>
      </div>
    </li>
    <li>
      <img src="../../../assets/images/ogo.jpeg" class="responsive-img" alt="">
      <div class="caption left-align black-text">
        <h2>Excellence</h2>
        <h5 class="hide-on-small-only">
          We put smiles on our customers
        </h5>
        <a href="#contactus" class="btn btn-large blue-grey">Know how...</a>
      </div>
    </li>
    <li>
      <img src="../../../assets/images/ontime.jpeg" class=" responsive-img">
      <div class="caption left-align black-text">
        <h2>Delivery</h2>
        <h5 class="hide-on-small-only">
          We deliver safe and on time
        </h5>
        <a href="#contactus" class="btn btn-large blue-grey">Work delivered...</a>
      </div>
    </li>
  </ul>
</section>