<form [formGroup]="registerForm">
  <div class="row">
    <div class="col s12 m6">
      <div class="card grey lighten-2">
        <div class="card-content black-text text-darken-2">
          <span class="card-title">Getting Started, please fill in these forms</span>
          <div class="row">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix"
                formControlName="firstName"
                type="text">
                <label for="icon_prefix">First Name</label>
                <small class="red-text text-lighten-3">This field is required
                </small>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">message</i>
                <input id="icon_email" formControlName="email" type="email">
                <label for="icon_email">Email</label>
                <small class="red-text text-lighten-3">This field is required</small>
                <small class="red-text text-lighten-3">Please use a valid email</small>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input formControlName="phone" type="tel">
                <label for="phone">Phone number</label>
                <small class="red-text text-lighten-3">Please input a valid phone number</small>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input formControlName="password" type="password">
                <label for="password">Password</label>
                <small class="red-text text-lighten-3">This field is required</small>
                <small class="red-text text-lighten-3">A minimum of 6 characters is required</small>
                <small class="red-text text-lighten-3">Special characters are required</small>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input formControlName="cnfPassword" type="password">
                <label for="cnfPassword">Confirm Password</label>
                <small class="red-text text-lighten-3">Password does not match</small>
              </div>
            </div>
            <div class="col s6">
              <button class="btn pink-text text-lighten-2 black lighten-4 waves-effect waves-light" type="submit" (click)="register()">Register
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-action">
          <p>already have an account? please
            <a class="pink-text text-lighten-2" [routerLink]="['/login']" routerLinkActive="router-link-active">sign In
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</form>