/* footer {
    background: url(../../../assets/images/navbarbackgrouund.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
} */
.section-copyright{
    margin: 0px;
    color: red;
}