<header class="main-header">
  <nav class="transparent">
    <div class="container">
      <div class="nav-wrapper">
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="brand-logo"><span class="logo-design pink-text text-lighten-2">easyTrucks</span></a>
        <a href="#" data-activates="mobile-nav" class="right show-on-medium-and-down button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a [routerLink]="['/']" routerLinkActive="router-link-active" class="pink-text text-lighten-2">home</a>
              </li>
          <li>
            <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="pink-text text-lighten-2">dashboard</a>
          </li>
          <li>
            <a [routerLink]="['/services']" routerLinkActive="router-link-active" class="pink-text text-lighten-2">our services</a>
          </li>
          <li>
            <a [routerLink]="['/quotes']" routerLinkActive="router-link-active" class="pink-text text-lighten-2">quote</a>
          </li>
          <li>
            <a class="pink-text text-lighten-2" [routerLink]="['/login']" routerLinkActive="router-link-active"> login</a>
          </li>
          <li *ngIf="admin">
              <a class="pink-text text-lighten-2" [routerLink]="['/allquotes']" routerLinkActive="router-link-active"> admin</a>
            </li>
        </ul>
        <!-- sidebar -->
        <ul class="side-nav" id="mobile-nav">
          <li>
            <div class="user-view">
              <div class="background">
                <img src="../../../assets/images/sidebarbackground.jpg" alt="">
              </div>
              <a href="#">
                <img src="../../../assets/images/background.jpg" alt="" class="circle">
              </a>
              <a href="#">
                <span class="name pink-text lighten-4">
                  John Doe
                </span>
              </a>
              <a href="#"><span class="email pink-text lighten-4">
                  jdoe@gmail.com
                </span></a>
            </div>
          </li>

          <li>
            <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active"> <i class="material-icons pink-text text-lighten-2">dashboard</i>
              dashboard</a>
          </li>
          <li>
            <a [routerLink]="['/services']" routerLinkActive="router-link-active"> <i class="material-icons pink-text text-lighten-2">services</i>
              our services</a>
          </li>
          <li>
            <a [routerLink]="['/register']" routerLinkActive="router-link-active"> <i class="material-icons pink-text text-lighten-2">book</i>
              register</a>
          </li>
          <li>
            <a class="modal-trigger" href="#login-modal"> <i class="material-icons pink-text text-lighten-1">users</i> login</a>
          </li>

          <li>
            <a href="#" class="btn btn-flat pink darken-2 waves-button-input waves-light"> <i class="material-icons pink-text text-lighten-2">download</i>
              logout</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- login modal -->
<div id="login-modal" class="modal">
  <div class="modal-content">
    <h4>account login</h4>
    <p>login to acces your account information</p>
    <form>
      <div class="input-field">
        <input type="email" id="email">
        <label for="email">Email</label>
      </div>

      <div class="input-field">
        <input type="password" id="password">
        <label for="password">Password</label>
      </div>
      <br>
      <p>Dont have an account? <a class="pink-text text-lighten-2" [routerLink]="['/register']" routerLinkActive="router-link-active">
        Register here</a></p>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="left modal-action modal-close btn black lighten-3">
      <i class="material-icons pink-text text-lighten-2">sync</i>reset password
    </a>
    <a href="#" class="right modal-action modal-close btn pink darken-2">
      <i class="material-icons black-text text-lighten-2">lock</i> login
    </a>
  </div>
</div>