/* .main-header{
    background: url(../../../assets/images/sidebarbackground.jpg);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
} */
.logo-design{
    font-family: 'Great Vibes', cursive;
}