<section class="section section-faq">
    <div class="card ">
        <div class="card-panel hoverable grey lighten-2">
            <span class="card-title">
                <h2> <abbr title="Frequently Asked Question">FAQs</abbr></h2>
            </span>
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header blue-grey darken-1 white-text">
                        <p class="left">When should I call the Moving Company?</p>
                        <i class="material-icons">
                            arrow_drop_down_circle
                        </i>
                    </div>
                    <div class="collapsible-body">
                        <span>The earlier the better. It is wiser to give the moving company 4-6 weeks notice. If you give
                            us enough lead time, we will surely be able to meet the delivery schedule
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header blue-grey darken-1 white-text">
                        <p>How much does the Move Cost?</p>
                        <i class="material-icons">
                            arrow_drop_down_circle
                        </i>
                    </div>
                    <div class="collapsible-body">
                        <span>The cost depends on the distance, location and amount of propety being handled</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header blue-grey darken-1 white-text">
                        <p>What is an Estimate?</p>
                        <i class="material-icons">
                            arrow_drop_down_circle
                        </i>
                    </div>
                    <div class="collapsible-body">
                        <span>An estimate is an educated guess of the approximate cost of the move Keep in mind that an estimate
                            or household goods survey is only a guidline
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header blue-grey darken-1 white-text">
                        <p>How long wll the move take?</p>
                        <i class="material-icons">
                            arrow_drop_down_circle
                        </i>
                    </div>
                    <div class="collapsible-body">
                        <span>This depnds on the weather for that day, the distance to the location and most importantly
                            traffic situation of the area.
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header blue-grey darken-1 white-text">
                        <p>When and how do I pay the Moving Company?</p>
                        <i class="material-icons">
                            arrow_drop_down_circle
                        </i>
                    </div>
                    <div class="collapsible-body">
                        <span>As stated customers are expected to pay 50% of the total cost ahead before quotes are reviewed,
                            and this can be done online or at our Offices nationwide. </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>