<section class="section section-login grey lighten-5">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <form [formGroup]="loginForm">
          <div class="card grey lighten-4">
            <div class="center">
              <span class="card-title logo-design blue-grey-text darken-2 mt-2 mb-2">easyTrucks</span>
            </div>
            <div class="materialert success mt-2" role="alert" *ngIf="error.show == true">
              <i class="material-icons">check</i>
              {{error.msg}}
            </div>
            <div class="card-content black-text text-darken-2">

              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">mail</i>
                  <input id="icon_email" formControlName="email" type="email" [(ngModel)]="quotes.email">
                  <label for="icon_email">Email</label>
                  <small *ngIf="email.errors?.required && email.touched" class="red-text text-lighten-3">This field is required</small>
                  <small *ngIf="email.errors?.email && username.touched" class="red-text text-lighten-3">Please use a valid
                    email</small>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">lock</i>
                  <input formControlName="password" type="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12 m6 offset-m3 center">
                  <button class="btn btn-rounded black white-text" type="button" (click)="login()">Login
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-action center">
              <p>Don't have an account? please
                <a class="purple-text text-lighten-2" [routerLink]="['/register']" routerLinkActive="router-link-active">sign
                  up
                </a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>