<section class="section section-login center container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <form [formGroup]="loginForm">
        <div class="card grey lighten-2">
          <div class="card-content black-text text-darken-2">
            <span class="card-title">Please Sign In Here</span>
            <div class="row">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">message</i>
                  <input formControlName="email" id="icon_email" type="email">
                  <label for="icon_email">Email</label>
                  <small class="red-text text-lighten-3">Please use a valid email</small>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input formControlName="password" type="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="col s6">
                <button class="btn pink-text text-lighten-2 black lighten-4 waves-effect waves-light" type="submit" (click)="login()">Login
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </div>
          <div class="card-action">
            <p>Don't have an account, please
              <a class="pink-text text-lighten-2" [routerLink]="['/register']" routerLinkActive="router-link-active">Register
                here
              </a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>