<section class="section section-showcase">
  <!-- showcase -->
  <div class="container showcase">
    <div class="row">
      <div class="col s12 center light-blue-text text-lighten-4">
        <h5 class="">
          Relocation and movement made easy, quick and smart with easyTrucks
        </h5>
        <h1 class="">
          Swift and Reliable
        </h1>
        <p><span class="lead">Get a quick quotation <a [routerLink]="['/quotes']" routerLinkActive="router-link-active"><span
          class="pink-text text-lighten-3">here</span></a></span></p>
        
        <br>
        <h6>
          <a href="#" class="pink-text text-lighten-2">Learn more</a>
          about our services
        </h6>
        <br><br>
        <p>
          To get a calculated quote, please <a [routerLink]="['/quotes']" routerLinkActive="router-link-active"  class="pink-text text-lighten-2">sign up</a> here
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section section-map">
  <div id="map"></div>
</section>