<div class="row">
    <div class="col s12 blue-grey darken-3">
            <h3 class="desc white-text">Testimonials</h3>
        <div class="slider">
            <ul class="slides blue-grey darken-3">
                <li>
                    <div class="caption center-text center-align">
                        <h5>
                             Wonderful Service, Movement was made swiftly. Professional packing.
                             my warm regards
                        </h5>
                        <em> <small>Sully Sulieman</small></em>
                    </div>
                </li>
                <li>
                    <div class="caption center-text center-align">
                        <h5>
                            An exciting experience with your company. Delivery was done on time.
                            Nice job.
                        </h5>
                        <em><small>John Paul</small></em>
                    </div>
                </li>
                <li>
                    <div class="caption center-text center-align">
                        <h5>
                            Interesting how relocation was made easy and awesome. Saved me a lot of stress. Thanks guys
                        </h5>
                        <em> <small>Okafor Jude</small></em>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>